h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

#area {
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 50px;
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 100%;
    margin-top: 30px;
    font-size: 30px;
    color: blue;
    display: flex;
    justify-content: center;
    text-align: center;
    display: none;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#btn-close {
    width: 250px;
    margin-top: 30px;
    font-size: 30px;
    background-color: tomato;
    color: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


